@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer>
        <ul class="footer-bottom-first container">
            <li>
                <div class="footer-item">
                    <h6>CHĂM SÓC KHÁCH HÀNG</h6>
                    <ul class="list-template">
                        <li><a href="#">Trung tâm trợ giúp</a></li>
                        <li><a href="#">Shopee Blog</a></li>
                        <li><a href="#">Shopee Mail</a></li>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Hướng dẫn bán hàng</a></li>
                        <li><a href="#">Thanh toán</a></li>
                        <li><a href="#">Shopee Xu</a></li>

                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả hàng và hoàn tiền</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="footer-item">
                    <h6>Về shopee</h6>
                    <ul class="list-template">
                        <li><a href="#">Trung tâm trợ giúp</a></li>
                        <li><a href="#">Shopee Blog</a></li>
                        <li><a href="#">Shopee Mail</a></li>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Hướng dẫn bán hàng</a></li>
                        <li><a href="#">Thanh toán</a></li>
                        <li><a href="#">Shopee Xu</a></li>

                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả hàng và hoàn tiền</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="footer-item">
                    <h6>THANH TOÁN</h6>
                    <div class="image-list-horizontal">
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/a0a9062ebe19b45c1ae0506f16af5c16" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/38fd98e55806c3b2e4535c4e4a6c4c08" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/bc2a874caeee705449c164be385b796c" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/2c46b83d84111ddc32cfd3b5995d9281" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/5e3f0bee86058637ff23cfdf2e14ca09" alt="">
                        </div>
                    </div>
                </div>

                <div class="footer-item">
                    <h6>ĐƠN VỊ VẬN CHUYỂN</h6>
                    <div class="image-list-horizontal">
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/5e7282bd0f7ee0872fdb0bd1d40fbe9e" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/d10b0ec09f0322f9201a4f3daf378ed2" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/77bf96a871418fbc21cc63dd39fb5f15" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/59270fb2f3fbb7cbc92fca3877edde3f" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/957f4eec32b963115f952835c779cd2c" alt="">
                        </div>
                        <div class="image-list-item">
                            <img src="https://cf.shopee.vn/file/0d349e22ca8d4337d11c9b134cf9fe63" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="footer-item">
                    <h6>THEO DÕI CHÚNG TÔI TRÊN</h6>
                    <ul class="list-template">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Linkedln</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="footer-item">
                    <h6>TẢI ỨNG DỤNG SHOPEE NGAY THÔI</h6>
                    <div class="grid-one-with-three">
                        <a href="#" style="grid-area: imgMain;">
                            <img src="https://cf.shopee.vn/file/a5e589e8e118e937dc660f224b9a1472" alt="">
                        </a>
                        <a href="#" style="grid-area: imglink1;">
                            <img src="https://cf.shopee.vn/file/ad01628e90ddf248076685f73497c163" alt="">
                        </a>
                        <a href="#" style="grid-area: imglink2;">
                            <img src="https://cf.shopee.vn/file/ae7dced05f7243d0f3171f786e123def" alt="">
                        </a>
                        <a href="#" style="grid-area: imglink3;">
                            <img src="https://cf.shopee.vn/file/35352374f39bdd03b25e7b83542b2cb0" alt="">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <div class="footer-copyright container">
            <div class="text-center">© 2022 Shopee. Tất cả các quyền được bảo lưu.</div>
            <div class="footer-copyright-items">
                <div>Quốc gia & Khu vực: </div>
                <a class="footer-copyright-item" href="#">Singapore</a>
                <a class="footer-copyright-item" href="#">Indonesia</a>
                <a class="footer-copyright-item" href="#">Thái Lan</a>
                <a class="footer-copyright-item" href="#">Việt Nam</a>
                <a class="footer-copyright-item" href="#">Malaysia</a>
                <a class="footer-copyright-item" href="#">Philipines</a>
                <a class="footer-copyright-item" href="#">Brazil</a>
                <a class="footer-copyright-item" href="#">Poland</a>
            </div>
        </div>
        <div class="footer-end p-5">
            <div class="container">
            <div class="footer-copyright-items">
                <a class="footer-copyright-item" href="#">CHÍNH SÁCH BẢO MẬT</a>
                <a class="footer-copyright-item" href="#">QUY CHẾ HOẠT ĐỘNG</a>
                <a class="footer-copyright-item" href="#">CHÍNH SÁCH VẬN CHUYỂN</a>
                <a class="footer-copyright-item" href="#">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
            </div>
            <div class="footer-copyright-items mt-4">
                <div class="d-flex justify-content-center" style="width: 700px; height: 50px;">
                    <div >
                        <img style="max-width: 100%; max-height: 100%; padding: 0 10px;" src="https://salavietnam.vn/dataimages/images/20150827110756-dadangky.png" alt="">
                    </div>
                    <div >
                        <img  style="max-width: 100%; max-height: 100%;padding: 0 10px;" src="https://salavietnam.vn/dataimages/images/20150827110756-dadangky.png" alt="">
                    </div>
                    <div>
                        <img  style="max-width: 100%; max-height: 100%;padding: 0 10px;" src="https://4ulife.vn/wp-content/uploads/2019/11/3.png" alt="">
                    </div>
                    
                </div>
            </div>
            <p class="footer-text-infomation">Công Ty TNHH Shopee</p>
            <p class="footer-text-infomation">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
            <p class="footer-text-infomation">Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
            <p class="footer-text-infomation">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            <p class="footer-text-infomation">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
        </div>
        </div>
      </footer>