@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="section">
        <h1 style="color:#f63">@Umbraco.GetDictionaryValue("Cart")</h1>
    </div>
    <div class="table-responsive bg-white section">
        <table class="table" id="cartStore">
            <thead>
                <tr style="white-space: nowrap;">
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" onclick="toggleCheckbox()">
                            <label class="custom-control-label bg-greylight" for="customCheck1"></label>
                        </div>
                    </th>
                    <th>Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="section">
        <div class="d-flex justify-content-end" style="column-gap: 10px;">
            <p>Tổng tiền hàng: <b class="count-Products">0</b> sản phẩm</p>
            <b style="font-size: 30px;line-height: 30px; color:#f63;"><span class="totalMoneyCart">0</span> đ</b>
            <button id="btnBuy" class="btnct btn-shopee active px-5">Mua hàng</button>
        </div>
    </div>
</div>
@section scripts{
    <script>

        //Loading cart

        $.ajax({
            url: "https://localhost:5001/api/cart/getCarts",
            type: "GET",
            headers: {
                "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
            },
            success: function (data) {
                $('.cartCount').text(data.data.total);
                $('#cartStore tbody').html('');
                data.data.cart.forEach(item => {
                    $('#cartStore tbody').append(`
                <tr id='${item.id}' product-id='${item.productVariation.productId}' variation-id='${item.productVariation.id}'>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value='${item.id}' id="cb${item.id}">
                                <label class="custom-control-label bg-greylight" for="cb${item.id}"></label>
                            </div>
                        </td>
                        <td class="d-flex" style="column-gap: 20px;">
                            <div class="image-cart" style="width:80px;height:80px;">
                            <img style="max-width:100%;" src="${item.productVariation.productImages[0].image}"/>
                        </div>
                            <p>${item.productVariation.product.name}</p>
                            <div class="select" >
                                <p>Phân loại hàng</p>
                            <select style="border:none;">
                                <option>Màu xanh</option>
                            </select>
                        </div>
                        </td>
                        <td>${item.productVariation.priceCurrent.toLocaleString('vi-VN')}</td>
                        <td><input onChange='changeNumber(this)' style="max-width:100px;" type="number" name="" class="form-control text-center" value="${item.number}" id=""></td>
                        <td style="color:#f63">${item.totalMoney.toLocaleString('vi-VN')}</td>
                        <td style="cursor: pointer;" class="text-danger" onClick="deleteCart('${item.id}')">Xóa</td>
                    </tr>
`)
                })
            }
        })


        const deleteCart = (id) => {
            $.ajax({
                url: "https://localhost:5001/api/cart/deleteCart?id=" + id,
                method: "DELETE",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                },
                success: function (data) {
                    $('#' + id).remove();
                    loadPrice();
                }
            })
        }

        const toggleCheckbox = () => {
            let checked = $('#customCheck1').prop('checked');
            $('#cartStore tbody input[type=checkbox]').prop('checked', checked)
            let count = $('#cartStore tbody input[type=checkbox]:checked').length;
            $('.count-Products').text(count);
            loadPrice();
        };

        $('#btnBuy').on('click', function () {
            let arrId = [];
            let arrItems = $('#cartStore tbody input[type=checkbox]:checked');
            arrItems.each(index => {
                let id = $(arrItems[index]).closest('tr').attr('id');
                arrId.push(id);
            });

            window.sessionStorage.setItem("cartChoose", JSON.stringify(arrId));
            window.location.href = "/pay";
        })


        $(function () {
            console.log("isloader");
            $('#cartStore tbody input[type=number]').on('change', function () {
                setTimeout(changeNumber(this), 2000);
            });

            if (!window.localStorage.getItem("accessToken")) {
                window.location.href = "/login";
            }

            $('#cartStore tbody input[type=checkbox]').on('change', function () {
                let count = $('#cartStore tbody input[type=checkbox]:checked').length;
                $('.count-Products').text(count);
                loadPrice();
            });
        });

        const loadPrice = () => {
            let arrItems = $('#cartStore tbody input[type=checkbox]:checked')
            let total = 0;
            arrItems.each(index => {
                let money = $(arrItems[index]).closest('tr').children('td:nth-child(5)').text().replace(/[^\d]/, "");
                total += Number.parseInt(money);
            })
            $('.totalMoneyCart').text(total.toLocaleString("vi-VN"));
        }

        const changeNumber = (cart) => {
            let id = $(cart).closest('tr').attr('id')
            let variationId = $(cart).closest('tr').attr('variation-id');
            let productId = $(cart).closest('tr').attr('product-id');
            $.ajax({
                url: "https://localhost:5001/api/cart/editCart?ProductVariationId=" + variationId,
                method: "PUT",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    id: id,
                    productId: productId,
                    number: $(cart).val(),
                }),
                success: function (data) {
                    $(cart).closest('tr').children('td:nth-child(5)').text(data.data.total.toLocaleString('vi-VN'));
                    loadPrice();
                }
            })
        }
    </script>
}