@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Pay>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="section mt-3">
        <h1 style="color:#f63" class="title">Thanh Toán</h1>
    </div>
    <div class="section form-icon-title mt-3">
        <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
        <div class="text-form">
            <div class="h5">Địa chỉ nhận hàng</div>
            <div class="choose-show_model mt-4" id="deliveryShow" data-toggle="modal" data-target="#modelId">

            </div>
            <button class="btnct btn-shopee active" data-toggle="modal" data-target="#addAddressDelivery">Thêm</button>
        </div>
    </div>

    <div class="section form-icon-title mt-3">
        <div class="icon"><i class="fa-brands fa-product-hunt"></i></div>
        <div class="text-form">
            <div class="h5">Danh sách sản phẩm</div>
            <div class="list-product-cart-view">

            </div>
        </div>
    </div>

    <div class="section mt-3 message-form">
        <label for="">Tin nhắn: </label>
        <input placeholder="Lưu ý cho người bán" type="text" />
    </div>

    <div class="section form-icon-title mt-3">
        <div class="icon"><i class="fa-solid fa-receipt"></i></div>
        <div class="text-form">
            <h5>Chi tiết thanh toán</h5>
            <div class="infomation-text-pay text-secondary">
                <span class="text-secondary">Tổng tiền hàng: </span>
                <span id="totalMoneyCart">0đ</span>
            </div>
            <div class="infomation-text-pay text-secondary">
                <span class="text-secondary">Tổng tiền phí vận chuyển: </span>
                <span>0đ</span>
            </div>
            <div class="infomation-text-pay-total ">
                <span>Tổng Thanh Toán: </span>
                <span id="totalPayCart" class="text-danger">0đ</span>
            </div>
        </div>
    </div>

    <div class="section mt-3">
        <p>Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân thủ theo <a href="#">Điều khoản shopee</a></p>
        <button id="btnPay" class="btnct btn-shopee active">Đặt hàng</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-choose-delivery-address" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn địa chỉ giao hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="bodyAddressDelivery" class="modal-body">
                <div class="section form-icon-title mt-3">
                    <div class="icon"><input type="radio" checked name="" id="5"></i></div>
                    <div class="text-form">
                        <label class="w-100" for="5">
                            <div class="choose-show_model">
                                <div class="d-flex justify-content-between">
                                    <p class="text-small" style="margin-bottom: 0;line-height: unset;"><b>Hồ Đức Duy</b> | 0348770100</p>
                                    <a href="#" style="color:#f63">Sửa</a>
                                </div>
                                <p class="text-small-sm">23/2 Tổ 7 Khu Phố 2, Quận 12, Tp HCM</p>
                            </div>
                            <span class="btnct btn-shopee outline-active" style="font-size: 12px;">Mặc định</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnct btn-shopee active" data-dismiss="modal">Chọn</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAddressDelivery" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm địa chỉ giao hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="form-group">
                        <label for="">Full name</label>
                        <input type="text"
                               class="form-control" name="" id="fullNameAdd" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="">Address</label>
                        <input type="text"
                               class="form-control" name="" id="addressAdd" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="tel"
                               class="form-control" name="" id="phoneNumberAdd" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnAddDelivery" class="btnct btn-shopee active">Add</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        if (!window.localStorage.getItem("accessToken")) {
            window.location.href = "/login";
        }

        const loadPayCart = () => {
            if (window.sessionStorage.getItem("cartChoose")) {
                let cartids = JSON.parse(window.sessionStorage.getItem("cartChoose"));

                $.ajax({
                    url: "https://localhost:5001/api/cart/getCartsByIds?ids=" + cartids.join('&ids='),
                    method: "GET",
                    contentType: "application/json",
                    headers: {
                        "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                    },
                    success: function (data) {
                        if (data.success) {
                            data.data.cart.map(c => {
                                $('#totalMoneyCart').text(data.data.totalMoney.toLocaleString("vi-VN"));
                                $('#totalPayCart').text(data.data.totalMoney.toLocaleString("vi-VN"));
                                AppendCartChooseView(c);

                            })
                        }
                    }
                })
            }
        }
        loadPayCart();

        const AppendCartChooseView = (data) => {
            let image = "";
            if (data.productVariation.productImages.length > 0) {
                image = data.productVariation.productImages[0].image;
                let isUrl = (/(https?:\/\/)/).test(image);
                if (!isUrl)
                    image = "https://localhost:5001" + image;
            }
            $('.list-product-cart-view').append(`
                                            <div class="products-cart-viewer" id="${data.id}">
                                                    <div class="products-cart-viewer__image">
                                                        <img src="${image}" alt="">
                                                    </div>
                                                    <div class="product-cart-viewer__infomation">
                                                        <h6>${data.product.name}</h6>
                                                        <p class="text-secondary text-small-sm">Phân loại: ${data.productVariation.name}</p>
                                                        <p class="text-secondary">${data.productVariation.priceCurrent.toLocaleString("vi-VN")} x ${data.number}</p>
                                                    </div>
                                                </div>
                                        `)
        }

        $.ajax({
            url: "https://localhost:5001/api/ShoppingDeliveryAddress/getShoppingDeliveryAddresses",
            method: "GET",
            headers: {
                "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
            },
            success: function (data) {
                if (data.success) {
                    $('#bodyAddressDelivery').html('');
                    data.data.map(address => {
                        appendAddress(address);
                    })
                }
            }
        })

        const appendAddress = (data) => {
            if (data.isDefault) {
                $('#deliveryShow').html(`
                                                                <input type="hidden" id="deviveryId" value="${data.id}"/>
                                                                <p class="text-small">${data.fullName} | ${data.phoneNumber}</p>
                                                                <p class="text-small">${data.address}</p>
                                                                <span class="arrow"><i class="fa-solid fa-chevron-right"></i></span>
                                                            `)
            }
            $('#bodyAddressDelivery').append(`
                                                                <div class="section form-icon-title mt-3">
                                                                   <div class="icon"><input type="radio" ${data.isDefault ? 'checked' : ''} name="" id="${data.id}"></i></div>
                                                                       <div class="text-form">
                                                                            <label class="w-100" for="${data.id}">
                                                                                 <div class="choose-show_model">
                                                                                      <div class="d-flex justify-content-between">
                                                                                         <p class="text-small" style="margin-bottom: 0;line-height: unset;"><b>${data.fullName}</b> | ${data.phoneNumber}</p>
                                                                                            <a href="#" style="color:#f63">Sửa</a>
                                                                                      </div>
                                                                                         <p class="text-small-sm">${data.address}</p>
                                                                             </div>
                                                                                       ${data.isDefault ? '<span class="btnct btn-shopee outline-active" style="font-size: 12px;">Mặc định</span>' : ''}
                                                                            </label>
                                                                   </div>
                                                               </div>
`)
        }

        $('#btnAddDelivery').on('click', function (e) {
            let fullName = $('#fullNameAdd').val();
            let address = $('#addressAdd').val();
            let phoneNumber = $('#phoneNumberAdd').val();

            $.ajax({
                url: "https://localhost:5001/api/ShoppingDeliveryAddress/insertShoppingDeliveryAddress",
                method: "POST",
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                },
                data: JSON.stringify({
                    fullName,
                    address,
                    phoneNumber
                }),
                success: function (data) {
                    if (data.success) {
                        clearFormAdd();
                        $('#addAddressDelivery').modal('hide');
                    } else {
                        alert(data.message[0])
                    }
                }
            })
        })

        const clearFormAdd = () => {
            $('#fullNameAdd').val('');
            $('#addressAdd').val('');
            $('#phoneNumberAdd').val('');
        }

        $('#btnPay').on('click', function () {
            $.ajax({
                url: "https://localhost:5001/api/Invoice/insertInvoice?DeliveryId=" + $('#deviveryId').val(),
                method: "POST",
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                },
                success: function (data) {
                    if (data.success) {
                        postInvoiceDetails(data.data.id);
                    } else {
                        alert(data.message[0])
                    }
                }
            })
        });

        const postInvoiceDetails = (invoiceId) => {
            let ids = []
            $('.products-cart-viewer').each(index => {
                ids.push($($('.products-cart-viewer')[index]).attr('id'));
            })
            $.ajax({
                url: "https://localhost:5001/api/InvoiceDetails/insertInvoiceDetailsRangeByCardIds?invoiceId=" + invoiceId,
                method: "POST",
                contentType: "application/json",
                headers: {
                    "Authorization": "Bearer " + window.localStorage.getItem("accessToken"),
                },
                data: JSON.stringify(ids),
                success: function (data) {
                    if (data.success) {
                        if (data.success) {
                            showAlert('Successful ordering');
                            window.sessionStorage.removeItem("cartChoose");
                            setTimeout(() => {
                                window.location.href = "/";
                            }, 2000)
                        }
                    } else {
                        alert(data.message[0])
                    }
                }
            })
        }
    </script>
}
